.about-top-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body {
    width: 100%;
}

.about-top-right {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1621691211095-fe4b38f21788?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1634&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.2;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.about-top-right-content {
    width: 100%;
}

.about-top-container h2 {
    font-size: 2.4rem;
    padding: 1.5rem;
    margin: 1rem;
}

.button-style {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid #4f4f4f;
    border-radius: 0.4rem;
    background: #fdf4f4;
    cursor: pointer;
    margin: 1rem;
}


.about-middle{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    height: 20vh;
}
.about-middle div{
    line-height: 2;
    font-weight: 500;
    width: 30%;
}

.about-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-weight: 500;
}

.about-bottom-container{
    margin-top: 5rem;
    width: 50%;
}

.about-bottom-container button{
    margin: 1rem;
    padding: .5rem;
}
