.top-of-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #e2d6d6;
    height: 50%;
    width: 50%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.login-card form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card form button{
    width: 200px !important;
    height: 30px !important;
}