.trainer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trainer-card {
    border: 1px solid #4f4f4f;
    width: 90%;
    height: 20vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg,#c4c4c4, #f1d4d4)
}

.view-profile:hover{
    border: 1px solid rgba(158,176,211,1);
}

.trainer-card div {
    width: 30%;
    padding: 1rem;
}

.view-profile {
    width: 15rem;
}
